*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Comic Sans MS', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

.Background {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Game {
  text-align: center;
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  min-width: 70vw;
  margin-bottom: 48px;
}

.Title {
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  text-align: center;
  font-size: calc(3em + 1vw);
  text-shadow: 0 0 10px #1f8a70;
  margin: 0;
}
